glance:
  public_ip: 10.0.0.12
  internal_ip: 10.0.0.12
  admin_ip: 10.0.0.12
  mysql:
    ip: 10.0.0.12
    password: 'pass'
    user: 'mysql'
  keystone:
    host: 10.0.0.12
    password: 'pass'
    email: '123@123.com'
  api-config:
    DEFAULT:
      debug: False
      verbose: False
  reg-config:
    DEFAULT:
      debug: False
      verbose: False

{#- vim:ft=sls
-#}
